<h1>Signup!</h1>

<%= form_for :user, url: '/users' do |f| %>

  <div class="input-group">
  <span class="input-group-addon" id="basic-addon1">
    <span class="glyphicon glyphicon-user"></span>
  </span>
  <%= f.text_field :firstname, :placeholder => "First name", :class => "form-control" %>
  </div>
  <div class="input-group">
  <span class="input-group-addon" id="basic-addon1">
    <span class="glyphicon glyphicon-user"></span>
  </span>
  <%= f.text_field :lastname, :placeholder => "Last name", :class => "form-control" %>
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">
      <span class="glyphicon glyphicon-envelope"></span>
    </span>
    <%= f.text_field :email, :placeholder => "Email address", :class => "form-control" %>
  </div>

  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">
      <span class="glyphicon glyphicon-lock"></span>
    </span>
  <%= f.password_field :password, :placeholder => "Password", :class => "form-control" %>
  </div>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">
      <span class="glyphicon glyphicon-lock"></span>
    </span>
  <%= f.password_field :password_confirmation, :placeholder => "Confirm Password", :class => "form-control" %>
</div>
<br>
<%= f.submit "Submit", class: 'btn btn-primary' %> 
<% end %>